html
    title Кабинет
    include ./blocks/head.jade

    body.main-page
        include ./blocks/header.jade

        .wrapper
            .alert-block.text-center.text-white(style="background-image: url(../images/alert-bg.png)") Добро пожаловать в личный кабинет, Александр Александров!

            .container-block
                .cabinet-block
                    h2.cabinet-title.text-center Личный кабинет
                    .cabinet-description.text-center Разверните вкладку с договором, чтобы онлайн: выкупить залог, заказать отсрочку и прочее

                    .settings-list.spoiler
                        .settings-list--item.spoiler--item
                            .settings-list--item-head.spoiler--head
                                .icon
                                    svg(class="icon-treaties")
                                        use(xlink:href="#icon-treaties")
                                .text
                                    .title Договоры
                                    .description Дата заключения и продления, срок действия и т.д
                                .arrow
                                    svg(class="icon-arrow-angle-bold")
                                        use(xlink:href="#icon-arrow-angle-bold")

                            .settings-list--item-body.spoiler--body
                                .treaties-spoiler
                                    .treaties-spoiler--item
                                        .treaties-spoiler--head
                                            .treaties-list
                                                label(for="radio4").treaties-list--item
                                                    .image
                                                        svg(class="icon-pen")
                                                            use(xlink:href="#icon-pen")
                                                    .text Договор&nbsp;
                                                        b 123694
                                                    input(type="radio" id="radio4" name="checkbox")
                                                    .icon
                                                label(for="radio5").treaties-list--item
                                                    .image
                                                        svg(class="icon-calendar")
                                                            use(xlink:href="#icon-calendar")
                                                    .text Заключен&nbsp;
                                                        b 02.02.22 г
                                                    input(type="radio" id="radio5" name="checkbox")
                                                    .icon
                                                label(for="radio6").treaties-list--item
                                                    .image
                                                        svg(class="icon-clock-circle")
                                                            use(xlink:href="#icon-clock-circle")
                                                    .text Срок договора&nbsp;
                                                        b 02.01.23 г
                                                    input(type="radio" id="radio6" name="checkbox")
                                                    .icon
                                                label(for="radio7").treaties-list--item
                                                    .image
                                                        svg(class="icon-euro")
                                                            use(xlink:href="#icon-euro")
                                                    .text Получено&nbsp;
                                                        b 125€
                                                    input(type="radio" id="radio7" name="checkbox")
                                                    .icon
                                                label(for="radio8").treaties-list--item
                                                    .image
                                                        svg(class="icon-clock-extended")
                                                            use(xlink:href="#icon-clock-extended")
                                                    .text Цена продления&nbsp;
                                                        b 20€
                                                    input(type="radio" id="radio8" name="checkbox")
                                                    .icon
                                                label(for="radio9").treaties-list--item
                                                    .image
                                                        svg(class="icon-price-extended")
                                                            use(xlink:href="#icon-price-extended")
                                                    .text Цена выкупа&nbsp;
                                                        b 135€
                                                    input(type="radio" id="radio9" name="checkbox")
                                                    .icon

                                            .treaties-list-arrow
                                                svg(class="icon-arrow-angle-bold")
                                                    use(xlink:href="#icon-arrow-angle-bold")

                                        .treaties-spoiler--body
                                            .inner-settings-list
                                                .inner-settings-list--item
                                                    .inner-settings-list--head
                                                        svg(class="icon icon-bell")
                                                            use(xlink:href="#icon-bell")
                                                        .text Сообщить об опоздании
                                                        svg(class="arrow icon-arrow-angle-bold")
                                                            use(xlink:href="#icon-arrow-angle-bold")

                                                    .inner-settings-list--body
                                                        .postponement-block
                                                            .label.semibold Выберите желаемую дату отсрочки:

                                                            .d-flex.align-items-center.mt-3.pt-1
                                                                .datepicker-wrap
                                                                    input.datepicker(type="text" name="date" placeholder="Выберите дату" autocomplete='off')
                                                                    svg(class="icon icon-calendar")
                                                                        use(xlink:href="#icon-calendar")
                                                                .btn.btn-yellow Пересчитать
                                                                a(href="#").text Сообщите нам, если хотите получить отсрочку на на более длительный срок

                                                .inner-settings-list--item
                                                    .inner-settings-list--head
                                                        svg(class="icon icon-clock-extended")
                                                            use(xlink:href="#icon-clock-extended")
                                                        .text Продлить договор
                                                        svg(class="arrow icon-arrow-angle-bold")
                                                            use(xlink:href="#icon-arrow-angle-bold")

                                                    .inner-settings-list--body
                                                        .renew-contract-block
                                                            .label.semibold Выберите на какой срок хотите продлить договор:
                                                            .radio-list
                                                                label(for="radio10").radio
                                                                    input(type="radio" name="deadline" id="radio10")
                                                                    .icon
                                                                    .text 7 дней&nbsp;
                                                                        b (5€)
                                                                label(for="radio11").radio
                                                                    input(type="radio" name="deadline" id="radio11")
                                                                    .icon
                                                                    .text 14 дней&nbsp;
                                                                        b (4€)
                                                                label(for="radio12").radio
                                                                    input(type="radio" name="deadline" id="radio12")
                                                                    .icon
                                                                    .text 30 дней&nbsp;
                                                                        b (10€)

                                                            .info-text Внимание! Вы продлеваете договор на следующий период.
                                                                | Сумма оплаты продления (5€) с Вас спишется в следующем месяце.

                                                            .total-cost
                                                                .label К оплате:
                                                                .cost 38€
                                                                .hint
                                                                    svg(class="icon icon-question")
                                                                        use(xlink:href="#icon-question")
                                                                    .tooltip Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                                                            .spoiler-one
                                                                .spoiler-one--head
                                                                    .text Узнать что входит в цену
                                                                    svg(class="icon icon-arrow-angle")
                                                                        use(xlink:href="#icon-arrow-angle")
                                                                .spoiler-one--body
                                                                    .list
                                                                        .list--item
                                                                            svg(class="icon icon-check-2")
                                                                                use(xlink:href="#icon-check-2")
                                                                            .text Комиссия&nbsp;
                                                                                b 10€
                                                                            .hint
                                                                                svg(class="icon icon-question")
                                                                                    use(xlink:href="#icon-question")
                                                                                .tooltip Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                                                                        .list--item
                                                                            svg(class="icon icon-check-2")
                                                                                use(xlink:href="#icon-check-2")
                                                                            .text Стоимость хранинения товара за опоздание&nbsp;
                                                                                b 28€
                                                                            .hint
                                                                                svg(class="icon icon-question")
                                                                                    use(xlink:href="#icon-question")
                                                                                .tooltip Стоимость хранения товара после окончания основного договора за 14 дополнительных дней&nbsp;
                                                                                    br
                                                                                    b (31.01.2022-13.02.2022)

                                                            .payment-block
                                                                .label.semibold Выберите способ оплаты:

                                                                .payment-list
                                                                    label(for="pay-card").payment-list--item
                                                                        input(type="checkbox" id="pay-card" checked)
                                                                        .icon
                                                                        .text Банковская карта
                                                                        .cards-list
                                                                            .cards-list--item
                                                                                img(src="../images/visa.png")
                                                                            .cards-list--item
                                                                                img(src="../images/mastercard.png")

                                                            button(type="submit").btn.btn-yellow.mt-3 Оплатить

                                                .inner-settings-list--item
                                                    .inner-settings-list--head
                                                        svg(class="icon icon-price-extended")
                                                            use(xlink:href="#icon-price-extended")
                                                        .text Выкупить залог
                                                        svg(class="arrow icon-arrow-angle-bold")
                                                            use(xlink:href="#icon-arrow-angle-bold")

                                                    .inner-settings-list--body
                                                        .semibold Выберите желаемую дату отсрочки:

                                            .text-end
                                                a(href="#").download Скачать PDF файл договора


                        .settings-list--item.spoiler--item
                            .settings-list--item-head.spoiler--head
                                .icon.red
                                    svg(class="icon-bell")
                                        use(xlink:href="#icon-bell")
                                .text
                                    .title Сообщить об опоздании
                                    .description Способы получения отсрочки
                                .arrow
                                    svg(class="icon-arrow-angle-bold")
                                        use(xlink:href="#icon-arrow-angle-bold")

                            .settings-list--item-body.spoiler--body Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                        .settings-list--item.spoiler--item
                            .settings-list--item-head.spoiler--head
                                .icon.green
                                    svg(class="icon-scales")
                                        use(xlink:href="#icon-scales")
                                .text
                                    .title Заложить товар
                                    .description Не надо идти в ломбард, чтобы узнать сколько денег мы можем Вам предложить.
                                .arrow
                                    svg(class="icon-arrow-angle-bold")
                                        use(xlink:href="#icon-arrow-angle-bold")

                            .settings-list--item-body.spoiler--body Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                        .settings-list--item.spoiler--item
                            .settings-list--item-head.spoiler--head
                                .icon.purple-dark
                                    svg(class="icon-clock-extended")
                                        use(xlink:href="#icon-clock-extended")
                                .text
                                    .title Продлить договор
                                    .description Вы можете продлить договор банковским переводом
                                .arrow
                                    svg(class="icon-arrow-angle-bold")
                                        use(xlink:href="#icon-arrow-angle-bold")

                            .settings-list--item-body.spoiler--body Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                        .settings-list--item.spoiler--item
                            .settings-list--item-head.spoiler--head
                                .icon.yellow
                                    svg(class="icon-sale-bag")
                                        use(xlink:href="#icon-sale-bag")
                                .text
                                    .title Продать товар
                                    .description Подайте заявку на оценку и продажу ваших вещей.
                                .arrow
                                    svg(class="icon-arrow-angle-bold")
                                        use(xlink:href="#icon-arrow-angle-bold")

                            .settings-list--item-body.spoiler--body Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                        .settings-list--item.spoiler--item
                            .settings-list--item-head.spoiler--head
                                .icon.orange
                                    svg(class="icon-price-extended")
                                        use(xlink:href="#icon-price-extended")
                                .text
                                    .title Выкупить залог
                                    .description Вы можете выкупить залог банковским переводом
                                .arrow
                                    svg(class="icon-arrow-angle-bold")
                                        use(xlink:href="#icon-arrow-angle-bold")

                            .settings-list--item-body.spoiler--body Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                        .settings-list--item.spoiler--item
                            .settings-list--item-head.spoiler--head
                                .icon.purple
                                    svg(class="icon-power-attorney")
                                        use(xlink:href="#icon-power-attorney")
                                .text
                                    .title Оформить доверенность
                                    .description Если Вы не можете забрать залог самостоятельно, то Вы можете оформить
                                        | доверенность на другого человека.
                                .arrow
                                    svg(class="icon-arrow-angle-bold")
                                        use(xlink:href="#icon-arrow-angle-bold")

                            .settings-list--item-body.spoiler--body Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                        .settings-list--item.spoiler--item
                            .settings-list--item-head.spoiler--head
                                .icon.black
                                    svg(class="icon-terminate-fill")
                                        use(xlink:href="#icon-terminate-fill")
                                .text
                                    .title Отказаться от залога раньше времени
                                .arrow
                                    svg(class="icon-arrow-angle-bold")
                                        use(xlink:href="#icon-arrow-angle-bold")

                            .settings-list--item-body.spoiler--body Lorem Ipsum is simply dummy text of the printing and typesetting industry.


        include ./blocks/footer.jade
        include ./blocks/modals.jade
        include ./blocks/scripts.jade





