html
    title Кабинет
    include ./blocks/head.jade

    body.main-page
        include ./blocks/header.jade

        .wrapper
            .alert-block.text-center.text-white.mt-4.mt-lg-0(style="background-image: url(images/alert-bg.png)") Добро пожаловать в личный кабинет, Александр Александров!

            .container-block
                .cabinet-block
                    h2.cabinet-title.text-center Личный кабинет
                    .cabinet-description.text-center Разверните вкладку с договором, чтобы онлайн: выкупить залог, заказать отсрочку и прочее

                    .settings-list.spoiler
                        .settings-list--item.spoiler--item
                            .settings-list--item-head.spoiler--head
                                .icon
                                    span.ico-treaties
                                .text
                                    .title Договоры
                                    .description Дата заключения и продления, срок действия и т.д
                                .arrow
                                    span.ico-arrow-angle-bold

                            .settings-list--item-body.spoiler--body
                                .gray-block-spoiler
                                    .gray-block-spoiler--item
                                        .gray-block-spoiler--head
                                            .treaties-list
                                                label(for="radio4").treaties-list--item
                                                    .image
                                                        span.ico-pen
                                                    .text Договор
                                                        b 123694
                                                    input(type="radio" id="radio4" name="checkbox")
                                                    .icon
                                                label(for="radio5").treaties-list--item
                                                    .image
                                                        span.ico-calendar
                                                    .text Заключен
                                                        b 02.02.22 г
                                                    input(type="radio" id="radio5" name="checkbox")
                                                    .icon
                                                label(for="radio6").treaties-list--item
                                                    .image
                                                        span.ico-clock-circle
                                                    .text Срок договора
                                                        b 02.01.23 г
                                                    input(type="radio" id="radio6" name="checkbox")
                                                    .icon
                                                label(for="radio7").treaties-list--item
                                                    .image
                                                        span.ico-euro
                                                    .text Получено
                                                        b 125€
                                                    input(type="radio" id="radio7" name="checkbox")
                                                    .icon
                                                label(for="radio8").treaties-list--item
                                                    .image
                                                        span.ico-clock-extended
                                                    .text Цена продления
                                                        b 20€
                                                    input(type="radio" id="radio8" name="checkbox")
                                                    .icon
                                                label(for="radio9").treaties-list--item
                                                    .image
                                                        span.ico-price-extended
                                                    .text Цена выкупа
                                                        b 135€
                                                    input(type="radio" id="radio9" name="checkbox")
                                                    .icon

                                            .gray-block-arrow
                                                span.icon.ico-arrow-angle-bold

                                        .gray-block-spoiler--body
                                            .inner-settings-list
                                                .inner-settings-list--item
                                                    .inner-settings-list--head
                                                        span.icon.ico-bell
                                                        .text Сообщить об опоздании
                                                        span.arrow.ico-arrow-angle-bold

                                                    .inner-settings-list--body
                                                        .postponement-block
                                                            .label.semibold Выберите желаемую дату отсрочки:

                                                            .d-block.d-sm-flex.align-items-center.mt-3.pt-1
                                                                .datepicker-wrap
                                                                    input.datepicker(type="text" name="date" placeholder="Выберите дату" autocomplete='off')
                                                                    span.icon.ico-calendar
                                                                .btn.btn-yellow.mt-2.mt-sm-0 Пересчитать
                                                                a(href="#").d-block.text.mt-2.mt-sm-0 Сообщите нам, если хотите получить отсрочку на на более длительный срок

                                                .inner-settings-list--item
                                                    .inner-settings-list--head
                                                        span.icon.ico-clock-extended
                                                        .text Продлить договор
                                                        span.arrow.ico-arrow-angle-bold

                                                    .inner-settings-list--body
                                                        .renew-contract-block
                                                            .label.semibold Выберите на какой срок хотите продлить договор:
                                                            .radio-list
                                                                label(for="radio10").radio
                                                                    input(type="radio" name="deadline" id="radio10")
                                                                    .icon
                                                                    .text 7 дней
                                                                        b (5€)
                                                                label(for="radio11").radio
                                                                    input(type="radio" name="deadline" id="radio11")
                                                                    .icon
                                                                    .text 14 дней
                                                                        b (4€)
                                                                label(for="radio12").radio
                                                                    input(type="radio" name="deadline" id="radio12")
                                                                    .icon
                                                                    .text 30 дней
                                                                        b (10€)

                                                            .info-text Внимание! Вы продлеваете договор на следующий период.
                                                                | Сумма оплаты продления (5€) с Вас спишется в следующем месяце.

                                                            .total-cost
                                                                .label К оплате:
                                                                .cost 38€
                                                                .hint
                                                                    .icon.ico-question
                                                                    .tooltip Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                                                            .spoiler-one
                                                                .spoiler-one--head
                                                                    .text Узнать что входит в цену
                                                                    .icon.ico-arrow-angle
                                                                .spoiler-one--body
                                                                    .list
                                                                        .list--item
                                                                            .icon.ico-check-2
                                                                            .text Комиссия
                                                                                b 10€
                                                                            .hint
                                                                                .icon.ico-question
                                                                                .tooltip Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                                                                        .list--item
                                                                            .icon.ico-check-2
                                                                            .text Стоимость хранинения товара за опоздание
                                                                                b 28€
                                                                            .hint
                                                                                .icon.ico-question
                                                                                .tooltip Стоимость хранения товара после окончания основного договора за 14 дополнительных дней&nbsp;
                                                                                    br
                                                                                    b (31.01.2022-13.02.2022)

                                                            .payment-block
                                                                .label.semibold Выберите способ оплаты:

                                                                .payment-list
                                                                    label(for="pay-card").payment-list--item
                                                                        input(type="checkbox" id="pay-card" checked)
                                                                        .icon
                                                                        .text Банковская карта
                                                                        .cards-list
                                                                            .cards-list--item
                                                                                img(src="images/visa.png")
                                                                            .cards-list--item
                                                                                img(src="images/mastercard.png")

                                                            button(type="submit").btn.btn-yellow.mt-3 Оплатить

                                                .inner-settings-list--item
                                                    .inner-settings-list--head
                                                        span.icon.ico-price-extended
                                                        .text Выкупить залог
                                                        span.arrow.ico-arrow-angle-bold

                                                    .inner-settings-list--body
                                                        .semibold Выберите желаемую дату отсрочки:

                                                        .total-cost
                                                            .label К оплате:
                                                            .cost 38€
                                                            .hint
                                                                .icon.ico-question
                                                                .tooltip Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                                                        .spoiler-one
                                                            .spoiler-one--head
                                                                .text Узнать что входит в цену
                                                                .icon.ico-arrow-angle
                                                            .spoiler-one--body
                                                                .list
                                                                    .list--item
                                                                        .icon.ico-check-2
                                                                        .text Комиссия&nbsp;
                                                                            b 10€
                                                                        .hint
                                                                            .icon.ico-question
                                                                            .tooltip Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                                                                    .list--item
                                                                        .icon.ico-check-2
                                                                        .text Стоимость хранинения товара за опоздание&nbsp;
                                                                            b 28€
                                                                        .hint
                                                                            .icon.ico-question
                                                                            .tooltip Стоимость хранения товара после окончания основного договора за 14 дополнительных дней&nbsp;
                                                                                br
                                                                                b (31.01.2022-13.02.2022)

                                                        .payment-block
                                                            .label.semibold Выберите способ оплаты:

                                                            .payment-list
                                                                label(for="pay-card-2").payment-list--item
                                                                    input(type="checkbox" id="pay-card-2" checked)
                                                                    .icon
                                                                    .text Банковская карта
                                                                    .cards-list
                                                                        .cards-list--item
                                                                            img(src="images/visa.png")
                                                                        .cards-list--item
                                                                            img(src="images/mastercard.png")

                                                        button(type="submit").btn.btn-yellow.mt-3 Оплатить

                                            .text-end
                                                a(href="#").download Скачать PDF файл договора


                        .settings-list--item.spoiler--item
                            .settings-list--item-head.spoiler--head
                                .icon.red
                                    span.ico-bell
                                .text
                                    .title Сообщить об опоздании
                                    .description Способы получения отсрочки
                                .arrow
                                    span.ico-arrow-angle-bold

                            .settings-list--item-body.spoiler--body
                                .gray-block
                                    .input-wrap
                                        .label.semibold Выберите номер договора
                                        select(placeholder=" ").custom-select
                                            option(value="250") 250
                                            option(value="480") 480

                                    .postponement-block.mt-3.pt-1
                                        .label.semibold Выберите желаемую дату отсрочки:

                                        .d-block.d-sm-flex.align-items-center.mt-3.pt-1
                                            .datepicker-wrap
                                                input.datepicker(type="text" name="date" placeholder="Выберите дату" autocomplete='off')
                                                .icon.ico-calendar
                                            .btn.btn-yellow.mt-2.mt-sm-0 Пересчитать
                                            a(href="#").d-block.text.mt-2.mt-sm-0 Сообщите нам, если хотите получить отсрочку на на более длительный срок

                        .settings-list--item.spoiler--item
                            .settings-list--item-head.spoiler--head
                                .icon.green
                                    span.ico-scales
                                .text
                                    .title Заложить товар
                                    .description Не надо идти в ломбард, чтобы узнать сколько денег мы можем Вам предложить.
                                .arrow
                                    span.ico-arrow-angle-bold

                            .settings-list--item-body.spoiler--body Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                        .settings-list--item.spoiler--item
                            .settings-list--item-head.spoiler--head
                                .icon.purple-dark
                                    span.ico-clock-extended
                                .text
                                    .title Продлить договор
                                    .description Вы можете продлить договор банковским переводом
                                .arrow
                                    .ico-arrow-angle-bold

                            .settings-list--item-body.spoiler--body
                                .gray-block
                                    .input-wrap
                                        .label.semibold Выберите номер договора
                                        select(placeholder=" ").custom-select
                                            option(value="250") 250
                                            option(value="480") 480

                                    .renew-contract-block.mt-3.pt-2
                                        .label.semibold Выберите на какой срок хотите продлить договор:
                                        .radio-list
                                            label(for="radio13").radio
                                                input(type="radio" name="deadline" id="radio13")
                                                .icon
                                                .text 7 дней
                                                    b (5€)
                                            label(for="radio14").radio
                                                input(type="radio" name="deadline" id="radio14")
                                                .icon
                                                .text 14 дней
                                                    b (4€)
                                            label(for="radio15").radio
                                                input(type="radio" name="deadline" id="radio15")
                                                .icon
                                                .text 30 дней
                                                    b (10€)

                                        .info-text Внимание! Вы продлеваете договор на следующий период.
                                            | Сумма оплаты продления (5€) с Вас спишется в следующем месяце.

                                        .total-cost
                                            .label К оплате:
                                            .cost 38€
                                            .hint
                                                .icon.ico-question
                                                .tooltip Стоимость хранения товара после окончания основного договора за 14 дополнительных дней&nbsp;
                                                    br
                                                    b (31.01.2022-13.02.2022)

                                        .spoiler-one
                                            .spoiler-one--head
                                                .text Узнать что входит в цену
                                                .icon.ico-arrow-angle
                                            .spoiler-one--body
                                                .list
                                                    .list--item
                                                        span.icon.ico-check-2
                                                        .text Комиссия
                                                            b 10€
                                                        .hint
                                                            .icon.ico-question
                                                            .tooltip Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                                                    .list--item
                                                        .icon.ico-check-2
                                                        .text Стоимость хранинения товара за опоздание
                                                            b 28€
                                                        .hint
                                                            span.icon.ico-question
                                                            .tooltip Стоимость хранения товара после окончания основного договора за 14 дополнительных дней&nbsp;
                                                                br
                                                                b (31.01.2022-13.02.2022)

                                        .payment-block
                                            .label.semibold Выберите способ оплаты:

                                            .payment-list
                                                label(for="pay-card-3").payment-list--item
                                                    input(type="checkbox" id="pay-card-3" checked)
                                                    .icon
                                                    .text Банковская карта
                                                    .cards-list
                                                        .cards-list--item
                                                            img(src="images/visa.png")
                                                        .cards-list--item
                                                            img(src="images/mastercard.png")

                                        button(type="submit").btn.btn-yellow.mt-3 Оплатить


                        .settings-list--item.spoiler--item
                            .settings-list--item-head.spoiler--head
                                .icon.yellow
                                    span.ico-sale-bag
                                .text
                                    .title Продать товар
                                    .description Подайте заявку на оценку и продажу ваших вещей.
                                .arrow
                                    span.ico-arrow-angle-bold

                            .settings-list--item-body.spoiler--body Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                        .settings-list--item.spoiler--item
                            .settings-list--item-head.spoiler--head
                                .icon.orange
                                    span.ico-price-extended
                                .text
                                    .title Выкупить залог
                                    .description Вы можете выкупить залог банковским переводом
                                .arrow
                                    span.ico-arrow-angle-bold

                            .settings-list--item-body.spoiler--body
                                .gray-block
                                    .input-wrap
                                        .label.semibold Выберите номер договора
                                        select(placeholder=" ").custom-select
                                            option(value="250") 250
                                            option(value="480") 480

                                    .total-cost
                                        .label Стоимость выкупа залога:
                                        .cost 135€

                                    .payment-block
                                        .label.semibold Выберите способ оплаты:

                                        .payment-list
                                            label(for="pay-card-4" class="payment-list--item")
                                                input(type="checkbox" id="pay-card-4" checked="checked")
                                                .icon
                                                .text Банковская карта
                                                .cards-list
                                                    .cards-list--item
                                                        img(src="images/visa.png")
                                                    .cards-list--item
                                                        img(src="images/mastercard.png")

                                    button(type="submit" class="btn btn-yellow mt-3") Оплатить

                        .settings-list--item.spoiler--item
                            .settings-list--item-head.spoiler--head
                                .icon.purple
                                    span.ico-power-attorney
                                .text
                                    .title Оформить доверенность
                                    .description Если Вы не можете забрать залог самостоятельно, то Вы можете оформить
                                        | доверенность на другого человека.
                                .arrow
                                    .ico-arrow-angle-bold

                            .settings-list--item-body.spoiler--body Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                        .settings-list--item.spoiler--item
                            .settings-list--item-head.spoiler--head
                                .icon.black
                                    span.ico-terminate
                                .text
                                    .title Рассторгнуть договор
                                    .description Отказаться от залога раньше времени
                                .arrow
                                    span.ico-arrow-angle-bold

                            .settings-list--item-body.spoiler--body Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                        .settings-list--item.spoiler--item
                            .settings-list--item-head.spoiler--head
                                .icon.blue-light
                                    span.ico-contact
                                .text
                                    .title Контактная информация
                                    .description Изменить, добавить и прочее
                                .arrow
                                    span.ico-arrow-angle-bold

                            .settings-list--item-body.spoiler--body
                                .gray-block-spoiler.contacts
                                    .gray-block-spoiler--item
                                        .gray-block-spoiler--head
                                            .title
                                                span.ico-smartphone
                                                .text.semibold Номер телефона
                                                .description Телефон для оповещений и вход в личный кабинет

                                            .gray-block-arrow
                                                span.ico-arrow-angle-bold

                                        .gray-block-spoiler--body
                                            .input-wrap
                                                .label Ваш номер телефона
                                                .edit-input-wrap
                                                    input.input(type="text" placeholder="+7 (999) 888-77-66")
                                                    .edit
                                                        span.icon.ico-pen
                                                        .text Изменить
                                            label(for="agreement1").agreement
                                                input(type="checkbox" name="agreement" id="agreement1")
                                                .icon
                                                    span.ico-check
                                                .text Даю согласие на обработку персональных данных

                                    .gray-block-spoiler--item
                                        .gray-block-spoiler--head
                                            .title
                                                span.ico-email
                                                .text.semibold Электронная почта
                                                .description Почта для оповещений, рассылок, хороших предложений

                                            .gray-block-arrow
                                                span.ico-arrow-angle-bold

                                        .gray-block-spoiler--body
                                            .input-wrap
                                                .label Ваш e-mail
                                                .edit-input-wrap
                                                    input.input(type="email" placeholder="lombard24@yandex.ru")
                                                    .edit
                                                        span.icon.ico-pen
                                                        .text Изменить
                                            label(for="agreement2").agreement
                                                input(type="checkbox" name="agreement" id="agreement2")
                                                .icon
                                                    span.ico-check
                                                .text Хочу получать рассылку, уведомления, хорошие предложения

                                    .gray-block-spoiler--item
                                        .gray-block-spoiler--head
                                            .title
                                                span.icon.ico-location-stroke
                                                .text.semibold Адрес
                                                .description Ваш фактический адрес проживания

                                            .gray-block-arrow
                                                span.ico-arrow-angle-bold

                                        .gray-block-spoiler--body
                                            .input-wrap
                                                .label Ваш адрес
                                                .edit-input-wrap
                                                    input.location-input(type="text" value="г. Таллин, ул. Центральная д1 кв24")
                                                    .edit
                                                        span.icon.ico-pen
                                                        .text Изменить


        include ./blocks/footer.jade
        include ./blocks/modals.jade
        include ./blocks/scripts.jade





