html
    title Каталог
    include ./blocks/head.jade

    body.main-page
        include ./blocks/header.jade

        .wrapper
            .container-block
                .breadcrumbs
                    a(href="/").breadcrumbs--item Главная
                    span.breadcrumbs--item Каталог

                .row.mt-3.pt-3
                    .col-3.d-none.d-lg-block
                        form(action="#").form.search-block
                            input(type="text" placeholder="Search").input
                            button
                                .icon.ico-search

                        .mt-3.pt-3
                        include ./blocks/filters.jade

                    .col-12.col-lg-9
                        .banners.medium
                            .wrap
                                a(href="#" style="background-image: url('images/assets/banner.jpg')").banners--item
                                    span.title Заложить вещи и получить деньги
                                    span.btn.btn-white.link
                                        span.text Узнать подробнее
                                        .icon.ico-arrow
                                a(href="#" style="background-image: url('images/assets/banner-green.jpg')").banners--item.text-white
                                    span.title Мы даем деньги под залог вещей
                                    span.btn.btn-white.link
                                        span.text Узнать подробнее
                                        .icon.ico-arrow

                        .d-block.d-lg-none.mt-3
                            .btn.btn-green.js-filters-modal.w-100(data-bs-toggle="modal" data-bs-target="#filters") Фильтры

                        .mt-3.pt-0.pt-lg-1
                        .sort-block
                            .row.align-items-center
                                .col-12.col-sm-2.col-xl-4
                                    .grid-type.d-flex
                                        .grid-type--item(data-type="grid").active
                                            .icon.ico-grid
                                        .grid-type--item(data-type="list")
                                            .icon.ico-list
                                .col-6.col-sm-3.col-xl-4.mt-3.mt-sm-0
                                    .page-size
                                        .label Show
                                        select(placeholder="16").custom-select
                                            option(value="16") 16
                                            option(value="32") 32

                                .col-6.col-sm-7.col-xl-4.mt-3.mt-sm-0
                                    .sort.justify-content-start.justify-content-sm-end
                                        .label Sort by
                                        select(placeholder="Highter price").custom-select
                                            option(value="Highter price") Highter price
                                            option(value="Lower price") Lower price

                        .mt-0.pt-3.mt-lg-4
                        .product-list
                            form(action="#").product-item
                                .marker IN GOOD CONDITION

                                .image
                                    img(src="images/assets/product-item.jpg")
                                .title JBL Xtreme 2

                                .button-wrap.row.align-items-center
                                    .col-6
                                        .availabel.text-nowrap в магазине
                                        .old-cost 120€
                                    .col-6.position-relative
                                        .cost 70€
                                        button.buy-btn Add to cart
                                .location
                                    .icon.ico-location-stroke
                                    .text Põhja-Tallinn

                            form(action="#").product-item
                                .marker.purple IN PERFECT CONDITION

                                .image
                                    img(src="images/assets/product-item.jpg")
                                .title Samsung Galaxy J3 2016

                                .button-wrap.row.align-items-center
                                    .col-6
                                        .availabel.text-nowrap в магазине
                                        .old-cost 120€
                                    .col-6.position-relative
                                        .cost 70€
                                        button.buy-btn Add to cart
                                .location
                                    .icon.ico-location-stroke
                                    .text Põhja-Tallinn

                            form(action="#").product-item
                                .marker.green NEW

                                .image
                                    img(src="images/assets/product-item.jpg")
                                .title Platinet wireless headset Sport PM1085

                                .button-wrap.row.align-items-center
                                    .col-6
                                        .availabel.text-nowrap в магазине
                                        .old-cost 120€
                                    .col-6.position-relative
                                        .cost 70€
                                        button.buy-btn Add to cart
                                .location
                                    .icon.ico-location-stroke
                                    .text Põhja-Tallinn

                            form(action="#").product-item
                                .marker IN GOOD CONDITION

                                .image
                                    img(src="images/assets/product-item.jpg")
                                .title JBL Xtreme 2

                                .button-wrap.row.align-items-center
                                    .col-6
                                        .availabel.text-nowrap в магазине
                                        .old-cost 120€
                                    .col-6.position-relative
                                        .cost 70€
                                        button.buy-btn Add to cart
                                .location
                                    .icon.ico-location-stroke
                                    .text Põhja-Tallinn

                            form(action="#").product-item
                                .marker.purple IN PERFECT CONDITION

                                .image
                                    img(src="images/assets/product-item.jpg")
                                .title Samsung Galaxy J3 2016

                                .button-wrap.row.align-items-center
                                    .col-6
                                        .availabel.text-nowrap в магазине
                                        .old-cost 120€
                                    .col-6.position-relative
                                        .cost 70€
                                        button.buy-btn Add to cart
                                .location
                                    .icon.ico-location-stroke
                                    .text Põhja-Tallinn

                            form(action="#").product-item
                                .marker.green NEW

                                .image
                                    img(src="images/assets/product-item.jpg")
                                .title Platinet wireless headset Sport PM1085

                                .button-wrap.row.align-items-center
                                    .col-6
                                        .availabel.text-nowrap в магазине
                                        .old-cost 120€
                                    .col-6.position-relative
                                        .cost 70€
                                        button.buy-btn Add to cart
                                .location
                                    .icon.ico-location-stroke
                                    .text Põhja-Tallinn

                        .pagination.justify-content-center.justify-content-lg-start
                            a(href="#").pagination--item.prev
                            a(href="#").pagination--item 1
                            span.pagination--item.active 2
                            a(href="#").pagination--item 3
                            a(href="#").pagination--item 4
                            a(href="#").pagination--item 5
                            a(href="#").pagination--item 6
                            a(href="#").pagination--item 7
                            a(href="#").pagination--item 8
                            a(href="#").pagination--item 9
                            a(href="#").pagination--item 10
                            a(href="#").pagination--item 11
                            a(href="#").pagination--item 12
                            a(href="#").pagination--item 13
                            a(href="#").pagination--item 14
                            a(href="#").pagination--item 15
                            a(href="#").pagination--item 16
                            a(href="#").pagination--item 17
                            a(href="#").pagination--item 18
                            a(href="#").pagination--item 19
                            a(href="#").pagination--item.next


        include ./blocks/footer.jade
        include ./blocks/modals.jade
        include ./blocks/scripts.jade





